<h1>Welcome to Binterest</h1>
<p>
	You found the home page...
	<%= link_to "Google", "http://www.google.com" %>
</p>

<p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
