<% if user_signed_in? %>
HI MAN
<% else %>
<h1>Welcome to Binterest</h1>

<div class="hero unit">
<p>
	You found the home page...
	<%= link_to "Google", "http://www.google.com" %>
</p>

<p> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>
<% end %>